<div class="credits"><span class="poweredby"></span> <span class="copyright"></span></div>
<div class="row">
    <div class="large-6 columns">
        @T("Theme by <a href=\"{0}\" target=\"_blank\">Mach Associates</a>", "http://www.machassociates.com")
    </div>
    <div class="large-6 columns text-right">
        @T("&copy; <a href=\"{0}\" target=\"_blank\">Mach Associates</a> copyright 2014.", "http://www.machassociates.com")
    </div>
</div>